<h1><%= @book.title %> <small><%= @book.author %></small></h1>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?" } %>
